
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Luoghi di interesse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/image/panoramica-san-giovanni-in-galilea.jpg" id="sfondo-content">

</ion-content>
