
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Articoli</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/image/panoramica-san-giovanni-in-galilea.jpg" id="sfondo-content">

  <ion-button 
    expand="block"
    color="dark" 
    *ngFor="let categoria of categorie"
    [hidden]="categoria.count==0">{{categoria.name}}
    <ion-badge 
      color="secondary" 
      style="position: absolute; right: -5px;"
      >{{categoria.count}}
    </ion-badge>
  </ion-button>
</ion-content>
